/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
.couleur {
  width: fit-content;
  background-color: rgba(240, 242, 243,0.3);
}
.couleur2 {
  width: fit-content;
  background-color: rgba(153, 192, 208,0.3);
}
h1 {
    text-shadow: 2px 1px rgb(24, 25, 25);
}
