/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
.couleur {
  width: 20%;
  background-color: rgba(240, 242, 243,0.3);
}
.couleur2 {
  width: 50%;
  background-color: rgba(153, 192, 208,0.6);
}
h1 {
    text-shadow: 2px 1px rgb(24, 25, 25);
}
