.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 63px;
  min-height: 375px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-icon-1 {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -115px auto 0;
}

.u-section-1 .u-text-2 {
  width: 712px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -115px auto 0;
}

.u-section-1 .u-text-5 {
  width: 712px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 60px;
  height: 60px;
}

.u-section-1 .u-carousel-control-2 {
  width: 60px;
  height: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    width: 660px;
  }

  .u-section-1 .u-text-5 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-5 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-5 {
    width: 320px;
  }
}